block header
    nav.navbar.navbar-expand-lg.bg-body-tertiary(data-bs-theme="dark")
        .container-fluid
            a.navbar-brand(href='#') ElectroShop
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                    a.nav-link(href='/products') Productos
                    a.nav-link(href='/categories') Categorias
                    a.nav-link(href='#') Compras
                    a.nav-link(href='#') Favoritos
                   
